
nav {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  nav > ul {
    padding: 4px 30px;
  }
  li {
    display: flex;
    padding: 6px 8px;
  }
  a {
    color: #424344;
    text-decoration: none;
    font-size: 13px;
  }